.menu
    display: block
    width: 100%
    height: 120px
    box-shadow: 3px 0 7px rgba(0,0,0,0.35)
    margin: 0px 0px 50px 0px
    .menu-content
        display: flex
        width: 1200px
        height: 120px
        margin: 0px auto
        align-items: center
        justify-content: flex-end
        .chouse
            display: block
            height: 35px
            width: 250px
            margin: 0px 25px 0px 0px
            p
                display: inline-block
                font-size: 14px
                color: #000000
                font-family: 'Lato', sans-serif
                font-weight: 300
                margin: 0px 20px 0px 0px
                text-transform: uppercase
            select 
                display: inline-block
                -webkit-appearance: none
                -moz-appearance: none
                appearance: none
                background: #e8e8e8 url("../img/select.png") no-repeat 90%  5px
                border: 1px solid #d0d0d0
                font-size: 14px
                height: 35px
                padding: 5px 
                width: 130px
                color: #000000
                font-family: 'Lato', sans-serif
                font-weight: 300 
                option
                    background: #f9f9f9
                    color: #000000
                    font-family: 'Lato', sans-serif
                    font-weight: 300
                    position: relative 
                    height: 40px
                    &:after
                        content: ""
                        position: absolute
                        bottom: 0
                        left: 5px
                        right: 5px
                        background: #000000
                        height: 1px
            